body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.website-name h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.account-section {
    display: flex;
    align-items: center;
}

.account-button {
    padding: 8px 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.account-button:hover {
    background-color: #777;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie {
    text-align: center;
    cursor: pointer;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
}

.details-block {
    display: none;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px 0; /* Adjust margins as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    grid-column: 1 / -1; /* Span all columns in the grid */
}

.details-block .details-left,
.details-block .details-right {
    float: none; /* Remove float */
    width: 100%; /* Full width */
}

.details-block .details-right {
    text-align: right;
    margin-top: 20px;
}

@media(min-width: 600px) {
    .details-block .details-left,
    .details-block .details-right {
        float: none;
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }

    .details-block .details-right {
        text-align: right;
    }
}

.details-block button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.details-block button:hover {
    background-color: #0056b3;
}

.btn-close {
    padding: 8px 16px;
    margin-top: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.btn-close:hover {
    background-color: #c82333;
}
