<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Debug Page</title>
    <link rel="stylesheet" href="/css/payment/bank.css">
    <script src="/js/payment/bank.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Simulated Payment Page</h1>
    <p class="info">This is a simulated page for payment to debug the system.</p>
    <div class="buttons">
        <button class="btn success">Success</button>
        <button class="btn reject">Reject</button>
        <button class="btn error">Other Error</button>
    </div>
    <p class="output" id="output"></p>
</div>
</body>
</html>
